<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trace_id}] [%X{machine_code}] [%thread] %-5level %logger{50}:%line
                - %msg %n
            </pattern>
        </encoder>
    </appender>

    <!-- level -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
